<center>
<img src="../../img/ods_stickers.jpg">
    
## [mlcourse.ai](https://mlcourse.ai) - Open Machine Learning Course

Author: [Yury Kashnitsky](https://www.linkedin.com/in/festline/). Translated and edited by [Sergey Isaev](https://www.linkedin.com/in/isvforall/), [Artem Trunov](https://www.linkedin.com/in/datamove/), [Anastasia Manokhina](https://www.linkedin.com/in/anastasiamanokhina/), and [Yuanyuan Pao](https://www.linkedin.com/in/yuanyuanpao/). All content is distributed under the [Creative Commons CC BY-NC-SA 4.0](https://creativecommons.org/licenses/by-nc-sa/4.0/) license.

Unique values of all features (for more information, please see the links above):
- `age`: continuous.
- `workclass`: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.
- `fnlwgt`: continuous.
- `education`: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.
- `education-num`: continuous.
- `marital-status`: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.
- `occupation`: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.
- `relationship`: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.
- `race`: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.
- `sex`: Female, Male.
- `capital-gain`: continuous.
- `capital-loss`: continuous.
- `hours-per-week`: continuous.
- `native-country`: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.   
- `salary`: >50K,<=50K

In [2]:
import numpy as np
import pandas as pd
pd.set_option('display.max.columns', 100)
# to draw pictures in jupyter notebook
%matplotlib inline 
import matplotlib.pyplot as plt
import seaborn as sns
# we don't like warnings
# you can comment the following 2 lines if you'd like to
import warnings
warnings.filterwarnings('ignore')

In [4]:
data = pd.read_csv('adult.data.csv')
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

**1. How many men and women (*sex* feature) are represented in this dataset?**

In [5]:
data['sex'].value_counts()

Male      21790
Female    10771
Name: sex, dtype: int64

**2. What is the average age (*age* feature) of women?**

In [6]:
data.loc[data['sex'] == 'Female', 'age'].mean()

36.85823043357163

**3. What is the percentage of German citizens (*native-country* feature)?**

In [7]:
germany=data[data['native-country'] == "Germany"]["native-country"].count()  #count german citizens
total=data["native-country"].count()  #count total citizens
percentage=(germany/total)*100    #find percentage
percentage #print percentage

0.42074874850281013

**4-5. What are the mean and standard deviation of age for those who earn more than 50K per year (*salary* feature) and those who earn less than 50K per year? **

In [8]:
#whose value is less than 50K
print("mean of age for those who earn less than 50K:",data[data['salary']=="<=50K"]["age"].mean())
print("standard deviation of age for those who earn less than 50K:",data[data['salary']=="<=50K"]["age"].std())
#whose value is greater than 50K
print("mean of age for those who earn more than 50K:",data[data['salary']==">50K"]["age"].mean())
print("standard deviation of age for those who earn more than 50K:",data[data['salary']==">50K"]["age"].std())

mean of age for those who earn less than 50K: 36.78373786407767
standard deviation of age for those who earn less than 50K: 14.020088490824813
mean of age for those who earn more than 50K: 44.24984058155847
standard deviation of age for those who earn more than 50K: 10.51902771985177

**6. Is it true that people who earn more than 50K have at least high school education? (*education – Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters* or *Doctorate* feature)**

In [10]:
array=[ "11th", "9th", "7th-8th", "12th","1st-4th", "10th",  "5th-6th", "Preschool"]
~data.loc[data['salary']==">50K"]["education"].isin(array).all()

True

**7. Display age statistics for each race (*race* feature) and each gender (*sex* feature). Use *groupby()* and *describe()*. Find the maximum age of men of *Amer-Indian-Eskimo* race.**

In [11]:
#race by describe()
race_describe=data.groupby("race").describe()

#gender by describe()
sex_describe=data.groupby("sex").describe()

print("race_describe",race_describe,"\n gender_describe",sex_describe)

race_describe                         age                                                \
                      count       mean        std   min   25%   50%   75%
race
Amer-Indian-Eskimo    311.0  37.173633  12.447130  17.0  28.0  35.0  45.5
Asian-Pac-Islander   1039.0  37.746872  12.825133  17.0  28.0  36.0  45.0
Black                3124.0  37.767926  12.759290  17.0  28.0  36.0  46.0
Other                 271.0  33.457565  11.538865  17.0  25.0  31.0  41.0
White               27816.0  38.769881  13.782306  17.0  28.0  37.0  48.0

                           fnlwgt                                         \
                     max    count           mean            std      min
race
Amer-Indian-Eskimo  82.0    311.0  120831.147910   88338.636336  12285.0
Asian-Pac-Islander  90.0   1039.0  159940.609240   85122.307505  14878.0
Black               90.0   3124.0  228013.124200  123600.677422  19752.0
Other               77.0    271.0  197124.191882   88856.775370  24562.0
White               90.0  27816.0  187298.064280  103124.944196  18827.0

                                                            education-num  \
                         25%       50%       75%        max         count
race
Amer-Indian-Eskimo   35036.5  102541.0  176142.0   445168.0         311.0
Asian-Pac-Islander   93321.0  143098.0  194456.0   506329.0        1039.0
Black               148212.0  205934.0  281693.0  1268339.0        3124.0
Other               138103.0  188793.0  240091.0   481175.0         271.0
White               116902.5  177627.0  233542.5  1484705.0       27816.0

                                                                     \
                         mean       std  min  25%   50%   75%   max
race
Amer-Indian-Eskimo   9.311897  2.310387  2.0  9.0   9.0  10.0  16.0
Asian-Pac-Islander  10.960539  2.811582  1.0  9.0  10.0  13.0  16.0
Black                9.486236  2.297893  1.0  9.0   9.0  10.0  16.0
Other                8.841328  3.226153  1.0  7.5   9.0  10.0  16.0
White               10.135246  2.570307  1.0  9.0  10.0  13.0  16.0

                   capital-gain                                                \
                          count         mean          std  min  25%  50%  75%
race
Amer-Indian-Eskimo        311.0   625.266881  2753.238961  0.0  0.0  0.0  0.0
Asian-Pac-Islander       1039.0  1478.358037  9986.156906  0.0  0.0  0.0  0.0
Black                    3124.0   609.940461  5139.653447  0.0  0.0  0.0  0.0
Other                     271.0   934.660517  8625.128995  0.0  0.0  0.0  0.0
White                   27816.0  1121.660375  7504.533302  0.0  0.0  0.0  0.0

                            capital-loss                                   \
                        max        count       mean         std  min  25%
race
Amer-Indian-Eskimo  27828.0        311.0  34.176849  245.583106  0.0  0.0
Asian-Pac-Islander  99999.0       1039.0  97.222329  423.556931  0.0  0.0
Black               99999.0       3124.0  60.385083  337.394121  0.0  0.0
Other               99999.0        271.0  61.070111  322.452705  0.0  0.0
White               99999.0      27816.0  90.806155  410.833347  0.0  0.0

                                     hours-per-week                        \
                    50%  75%     max          count       mean        std
race
Amer-Indian-Eskimo  0.0  0.0  1980.0          311.0  40.048232  11.695364
Asian-Pac-Islander  0.0  0.0  2457.0         1039.0  40.127045  12.556816
Black               0.0  0.0  4356.0         3124.0  38.422855  10.315646
Other               0.0  0.0  2179.0          271.0  39.468635  11.143755
White               0.0  0.0  4356.0        27816.0  40.689100  12.544796


                    min   25%   50%   75%   max
race
Amer-Indian-Eskimo  3.0  40.0  40.0  40.0  84.0
Asian-Pac-Islander  1.0  40.0  40.0  40.0  99.0
Black               1.0  37.0  40.0  40.0  99.0
Other               5.0  36.0  40.0  40.0  98.0
White               1.0  40.0  40.0  45.0  99.0
 gender_describe             age                                                       fnlwgt  \
          count       mean        std   min   25%   50%   75%   max    count
sex
Female  10771.0  36.858230  14.013697  17.0  25.0  35.0  46.0  90.0  10771.0
Male    21790.0  39.433547  13.370630  17.0  29.0  38.0  48.0  90.0  21790.0

                                                                               \
                 mean            std      min        25%       50%        75%
sex
Female  185746.311206  102986.078821  12285.0  117363.00  176077.0  228331.50
Male    191771.449013  106740.702676  13769.0  118200.75  180140.0  241146.25

                  education-num                                             \
              max         count       mean       std  min  25%   50%   75%
sex
Female  1484705.0       10771.0  10.035744  2.379954  1.0  9.0  10.0  12.0
Male    1455435.0       21790.0  10.102891  2.662630  1.0  9.0  10.0  13.0

             capital-gain                                                \
         max        count         mean          std  min  25%  50%  75%
sex
Female  16.0      10771.0   568.410547  4924.262944  0.0  0.0  0.0  0.0
Male    16.0      21790.0  1329.370078  8326.312095  0.0  0.0  0.0  0.0

                capital-loss                                              \
            max        count        mean         std  min  25%  50%  75%
sex
Female  99999.0      10771.0   61.187633  340.907518  0.0  0.0  0.0  0.0
Male    99999.0      21790.0  100.213309  429.763097  0.0  0.0  0.0  0.0

               hours-per-week                                               \
           max          count       mean        std  min   25%   50%   75%
sex
Female  4356.0        10771.0  36.410361  11.811300  1.0  30.0  40.0  40.0
Male    3770.0        21790.0  42.428086  12.119755  1.0  40.0  40.0  49.0


         max
sex
Female  99.0
Male    99.0

**8. Among whom is the proportion of those who earn a lot (>50K) greater: married or single men (*marital-status* feature)? Consider as married those who have a *marital-status* starting with *Married* (Married-civ-spouse, Married-spouse-absent or Married-AF-spouse), the rest are considered bachelors.**

In [12]:
married=["Married-civ-spouse", "Married-spouse-absent","Married-AF-spouse"]
a=data[data['salary']==">50K"]["marital-status"].isin(married).value_counts()
if a[True]>a[False]:
    print("Married")
else:
    print("Bachelors")

Married

**9. What is the maximum number of hours a person works per week (*hours-per-week* feature)? How many people work such a number of hours, and what is the percentage of those who earn a lot (>50K) among them?**

In [14]:
print("Maximum no. of hours a person works per week :",data["hours-per-week"].max())
no_of_people=data[data["hours-per-week"]==data["hours-per-week"].max()].count().max()
print(no_of_people,"people work",data["hours-per-week"].max(),"hours")
maxhours_maxsalary=(data[data["hours-per-week"]==data["hours-per-week"].max()]["salary"]==">50K").value_counts()
percentage=((maxhours_maxsalary[True])/no_of_people)*100
print("percentage of those who earn a lot (>50K) : ",percentage)

Maximum no. of hours a person works per week : 99
85 people work 99 hours
percentage of those who earn a lot (>50K) :  29.411764705882355

**10. Count the average time of work (*hours-per-week*) for those who earn a little and a lot (*salary*) for each country (*native-country*). What will these be for Japan?**

In [21]:
for(country,salary),sub_df in data.groupby(["native-country","salary"]):
   print(country, salary, round(sub_df['hours-per-week'].mean(), 2))

? <=50K 40.16
? >50K 45.55
Cambodia <=50K 41.42
Cambodia >50K 40.0
Canada <=50K 37.91
Canada >50K 45.64
China <=50K 37.38
China >50K 38.9
Columbia <=50K 38.68
Columbia >50K 50.0
Cuba <=50K 37.99
Cuba >50K 42.44
Dominican-Republic <=50K 42.34
Dominican-Republic >50K 47.0
Ecuador <=50K 38.04
Ecuador >50K 48.75
El-Salvador <=50K 36.03
El-Salvador >50K 45.0
England <=50K 40.48
England >50K 44.53
France <=50K 41.06
France >50K 50.75
Germany <=50K 39.14
Germany >50K 44.98
Greece <=50K 41.81
Greece >50K 50.62
Guatemala <=50K 39.36
Guatemala >50K 36.67
Haiti <=50K 36.33
Haiti >50K 42.75
Holand-Netherlands <=50K 40.0
Honduras <=50K 34.33
Honduras >50K 60.0
Hong <=50K 39.14
Hong >50K 45.0
Hungary <=50K 31.3
Hungary >50K 50.0
India <=50K 38.23
India >50K 46.48
Iran <=50K 41.44
Iran >50K 47.5
Ireland <=50K 40.95
Ireland >50K 48.0
Italy <=50K 39.62
Italy >50K 45.4
Jamaica <=50K 38.24
Jamaica >50K 41.1
Japan <=50K 41.0
Japan >50K 47.96
Laos <=50K 40.38
Laos >50K 40.0
Mexico <=50K 40.0
Mexico >50K 46.58
Nicaragua <=50K 36.09
Nicaragua >50K 37.5
Outlying-US(Guam-USVI-etc) <=50K 41.86
Peru <=50K 35.07
Peru >50K 40.0
Philippines <=50K 38.07
Philippines >50K 43.03
Poland <=50K 38.17
Poland >50K 39.0
Portugal <=50K 41.94
Portugal >50K 41.5
Puerto-Rico <=50K 38.47
Puerto-Rico >50K 39.42
Scotland <=50K 39.44
Scotland >50K 46.67
South <=50K 40.16
South >50K 51.44
Taiwan <=50K 33.77
Taiwan >50K 46.8
Thailand <=50K 42.87
Thailand >50K 58.33
Trinadad&Tobago <=50K 37.06
Trinadad&Tobago >50K 40.0
United-States <=50K 38.8
United-States >50K 45.51
Vietnam <=50K 37.19
Vietnam >50K 39.2
Yugoslavia <=50K 41.6
Yugoslavia >50K 49.5

In [19]:
data1 = data.groupby(['native-country','salary'])['hours-per-week'].mean().reset_index()
data1.T

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81
native-country,?,?,Cambodia,Cambodia,Canada,Canada,China,China,Columbia,Columbia,Cuba,Cuba,Dominican-Republic,Dominican-Republic,Ecuador,Ecuador,El-Salvador,El-Salvador,England,England,France,France,Germany,Germany,Greece,Greece,Guatemala,Guatemala,Haiti,Haiti,Holand-Netherlands,Honduras,Honduras,Hong,Hong,Hungary,Hungary,India,India,Iran,Iran,Ireland,Ireland,Italy,Italy,Jamaica,Jamaica,Japan,Japan,Laos,Laos,Mexico,Mexico,Nicaragua,Nicaragua,Outlying-US(Guam-USVI-etc),Peru,Peru,Philippines,Philippines,Poland,Poland,Portugal,Portugal,Puerto-Rico,Puerto-Rico,Scotland,Scotland,South,South,Taiwan,Taiwan,Thailand,Thailand,Trinadad&Tobago,Trinadad&Tobago,United-States,United-States,Vietnam,Vietnam,Yugoslavia,Yugoslavia
salary,<=50K,>50K,<=50K,>50K,<=50K,>50K,<=50K,>50K,<=50K,>50K,<=50K,>50K,<=50K,>50K,<=50K,>50K,<=50K,>50K,<=50K,>50K,<=50K,>50K,<=50K,>50K,<=50K,>50K,<=50K,>50K,<=50K,>50K,<=50K,<=50K,>50K,<=50K,>50K,<=50K,>50K,<=50K,>50K,<=50K,>50K,<=50K,>50K,<=50K,>50K,<=50K,>50K,<=50K,>50K,<=50K,>50K,<=50K,>50K,<=50K,>50K,<=50K,<=50K,>50K,<=50K,>50K,<=50K,>50K,<=50K,>50K,<=50K,>50K,<=50K,>50K,<=50K,>50K,<=50K,>50K,<=50K,>50K,<=50K,>50K,<=50K,>50K,<=50K,>50K,<=50K,>50K
hours-per-week,40.16476,45.547945,41.416667,40.0,37.914634,45.641026,37.381818,38.9,38.684211,50.0,37.985714,42.44,42.338235,47.0,38.041667,48.75,36.030928,45.0,40.483333,44.533333,41.058824,50.75,39.139785,44.977273,41.809524,50.625,39.360656,36.666667,36.325,42.75,40.0,34.333333,60.0,39.142857,45.0,31.3,50.0,38.233333,46.475,41.44,47.5,40.947368,48.0,39.625,45.4,38.239437,41.1,41.0,47.958333,40.375,40.0,40.003279,46.575758,36.09375,37.5,41.857143,35.068966,40.0,38.065693,43.032787,38.166667,39.0,41.939394,41.5,38.470588,39.416667,39.444444,46.666667,40.15625,51.4375,33.774194,46.8,42.866667,58.333333,37.058824,40.0,38.799127,45.505369,37.193548,39.2,41.6,49.5

In [20]:
data1.loc[data1['native-country'] == 'Japan']

   native-country salary  hours-per-week
47          Japan  <=50K       41.000000
48          Japan   >50K       47.958333